.card {
  background: white;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 30px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.clickable-card {
  @extend .card;
  transition: box-shadow 0.15s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.15s ease;
  }

  &:active {
    // - not sure yet
  }
}
