$red: #ff4276;
$green: #00bf8d;
$blue: #2770ff;
$yellowHighlight: #fff3db;

$background-color: #f1f4f7;
$text-color: #42464A;
$text-color-light-1: #5D6369;
$text-color-light-2: #797F85;
$white-hover-color: #F3f5f6;

$light-gray-5: #E8ECED;
$light-gray-4: #D9DCDE;

$selected-green: #00C1C4;
$selected-green-dark-1: #00949C;
$site-purple: #A700D1;
$site-purple-light-1: #C94FE8;
